name: GitHub Release
on:
  workflow_dispatch:
  push:
permissions:
  contents: write
jobs:
  setup_and_build:    
    runs-on: matrix.os
    strategy:
      matrix:
        os: [ubuntu-slim, ubuntu-latest]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        id: uv
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          activate-environment: true
      - name: Install the project
        run: uv sync --frozen
      - name: Update Project Version
        run: uv version ${{ needs.details.outputs.new_version }}
      - name: Build source and wheel distribution
        run: uv build --all-packages
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
  github_release:
    name: Create GitHub Release
    needs: [setup_and_build]
    runs-on: ubuntu-slim
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist/
      - name: Create GitHub Release
        id: create_release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ needs.details.outputs.tag_name }} dist/* \
          --title ${{ needs.details.outputs.tag_name }} --generate-notes
