name: Push to HuggingFace
on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:
permissions:
  contents: read
  actions: write
env:
  HF_HUB_ENABLE_HF_TRANSFER: "1"
  UV_FROZEN: "1"
  UV_LINK_MODE: "copy"
jobs:
  huggingface:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0
        id: uv
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          activate-environment: true
      - name: Install the project
        run: uv sync --frozen
      - name: Remove Unnecessary Files
        run: |
          echo "" >> .gitignore
          echo ".trunk" >> .gitignore
          echo "pylock.toml" >> .gitignore
          echo ".github/" >> .gitignore
          echo ".idea/" >> .gitignore
          echo "renovate.json" >> .gitignore
          echo ".deepsource.toml" >> .gitignore
      - name: Add to git credentials
        run: git config --global credential.helper store
      - name: Login to HuggingFace Hub
        run: uv run huggingface-cli login --add-to-git-credential --token ${{ secrets.HF_TOKEN }}
      - name: Check if logged in
        run: uv run huggingface-cli whoami
      - name: Upload
        run: uv run huggingface-cli upload AlphaSphereDotAI/Disease_Assistant . . --repo-type space
