name: Lint
on:
  push:
permissions:
  contents: write
  pull-requests: write
  checks: write
  security-events: write
  actions: read
jobs:  
  trivy:
    name: Trivy
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: repo
          format: github
          github-pat: ${{ secrets.GH_TOKEN }}
      # - run: ls -lah
      # - name: Upload Trivy scan results to GitHub Security tab
      #   if: success() || failure()
      #   uses: github/codeql-action/upload-sarif@v3
      #   with:
      #     sarif_file: trivy-results.sarif
  check:
    name: Check
    runs-on: ubuntu-latest
    environment:
      name: code_quality
    permissions:
      contents: write
      pull-requests: write
      checks: write
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0
      - name: MegaLinter
        uses: oxsecurity/megalinter@v9.3.0
        id: megalinter
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - run: echo ${{ steps.megalinter.outputs.has_updated_sources }}
      - name: Archive production artifacts
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: MegaLinter reports
          include-hidden-files: "true"
          path: |
            megalinter-reports
            mega-linter.log
      - run: ls -lah
      - name: Upload MegaLinter scan results to GitHub Security tab
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
            sarif_file: megalinter-reports/megalinter-report.sarif
      - name: Commit and push applied linter fixes
        uses: stefanzweifel/git-auto-commit-action@v7
        # if: ${{ steps.megalinter.outputs.has_updated_sources != 0 }}
        with:
          commit_message: "[MegaLinter] Apply linters fixes"
          commit_user_name: megalinter-bot
          commit_user_email: 129584137+megalinter-bot@users.noreply.github.com
          commit_options: '--no-verify'
